<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>通过股票的代码查询记录数据</description>
    <display-name>通过股票的代码查询记录数据</display-name>
    <servlet-name>ListDataServlet</servlet-name>
    <servlet-class>com.stock.servlet.ListDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListDataServlet</servlet-name>
    <url-pattern>/servlet/lbtServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
