<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>查询的Servlet</description>
    <display-name>查询的Servlet</display-name>
    <servlet-name>QueryPersonServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.QueryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPersonServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>添加信息的Servlet</description>
    <display-name>添加信息的Servlet</display-name>
    <servlet-name>AddPersonServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.AddPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>判断用户登录的Servlet</description>
    <display-name>判断用户登录的Servlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>修改用户密码的Servlet</description>
    <display-name>修改用户密码的Servlet</display-name>
    <servlet-name>EditPasswordServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>列出所有信息的Servlet</description>
    <display-name>列出所有信息的Servlet</display-name>
    <servlet-name>ListPersonServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.ListPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>删除信息的Servlet</description>
    <display-name>删除信息的Servlet</display-name>
    <servlet-name>DeletePersonServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.DeletePersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>更新信息的Servlet</description>
    <display-name>更新信息的Servlet</display-name>
    <servlet-name>EditPersonServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.EditPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>更新前处理信息的Servlet</description>
    <display-name>更新前处理信息的Servlet</display-name>
    <servlet-name>PreUpdateServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.PreUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>文件上传的Servlet</description>
    <display-name>文件上传的Servlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>查询文件列表的Servlet</description>
    <display-name>查询文件列表的Servlet</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据单位进行查询的Servlet</description>
    <display-name>根据单位进行查询的Servlet</display-name>
    <servlet-name>QueryByCompanyServlet</servlet-name>
    <servlet-class>com.itlamp.servlet.QueryByCompanyServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>AddPersonServlet</servlet-name>
    <url-pattern>/AddRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPasswordServlet</servlet-name>
    <url-pattern>/EditPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPersonServlet</servlet-name>
    <url-pattern>/ListPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePersonServlet</servlet-name>
    <url-pattern>/DeletePersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPersonServlet</servlet-name>
    <url-pattern>/EditPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreUpdateServlet</servlet-name>
    <url-pattern>/PreUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryByCompanyServlet</servlet-name>
    <url-pattern>/QueryByCompanyServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
		<welcome-file>index1.jsp</welcome-file>
	</welcome-file-list>
</web-app>
